@use '../../styles/main.scss' as *;

.skill-card {
  @include flex($direction: column, $align: center);

  gap: $gap-xs;
  padding: $p;
  transition: all 0.2s;
  text-decoration: none;
  color: currentcolor;

  .title {
    text-align: center;
  }
}

.skill-card:hover {
  cursor: pointer;
  box-shadow: $box-shadow-card;
  transform: scale(1.5);
  transition: all 0.2s;
  background: #56585e;
  border-radius: 12px;

  .title {
    color: $character-light-table-header;
  }
}
