@use '../../styles/main.scss' as *;

.tabs-container {
}

.tabs-container {
  
  max-width: 1440px;
  width: 100%;
}
.tabs {
  @include flex();
  gap: $gap;
  width: 100%;
}

.tab {
  width: fit-content;
  padding: $p;
  background: $palitra2-light;
  border-radius: 5px 0px;
}

.tab.active {
  background: red;
}
.tab_content {
  padding: 20px 20px 50px;
  background: #1c1c1c95;
  border-radius: 0 15px 15px;
  //background: #fca70d95;
  width: 100%;
  overflow: hidden;
}
