@use '../../styles/main.scss' as *;

.tabs-container {
  max-width: 1440px;
  width: 100%;
}

.tabs {
  @include flex;

  gap: $gap;
  width: 100%;

  @include for-phone {
    gap: $gap-xs;
  }
}

.tab {
  width: fit-content;
  padding: $p;
  background: $palitra2-light;
  border-radius: 5px 0;
  cursor: pointer;
  @include for-phone {
    padding: $p-s;
  }
}

.tab.active {
  background: $color-myred;
}

.tab_content {
  padding: 20px;
  background: #1c1c1c95;
  border-radius: 0 15px 15px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden auto;
  max-height: calc(100vh - 180px);

  @include for-phone {
    max-height: 70vh;
  }
}
