@import './variables';

@mixin for-tablet {
  @media (min-width: $phone-size) and (max-width: $tablet-size) {
    @content;
  }
}

@mixin for-phone {
  @media (max-width: $phone-size) {
    @content;
  }
}

@mixin flex($direction: row, $justify: start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin font-bg-code {
  display: block;
  font-family: 'Overpass Mono', monospace;
  white-space: pre;
  color: $character-dark-title-85;
  font-size: 0.8rem;
  font-style: italic;
  text-shadow: 0 0 10px $white1;
  line-height: 1.5rem;
  margin-left: -2rem;
  @include for-phone {
    margin-left: -1rem;
  }
}

@mixin font-bg-current {
  display: block;
  font-family: 'Overpass Mono', monospace;
  white-space: pre;
  color: $color-myred;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5rem;
}

@mixin font-page-title {
  font-size: 2em;
  font-weight: 600;
  margin-top: $m-xl;
  margin-bottom: $m-xl;
}

@mixin blur($blur: 2px) {
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.4s;
}
