// Cold colors
$aqua1: #7fdbff;
$blue1: #0074d9;
$navy1: #001f3f;
$teal1: #39cccc;
$green1: #2ecc40;
$olive1: #3d9970;
$lime1: #01ff70;

// Warm colors
$yellow1: #ffdc00;
$orange1: #ff851b;
$red1: #ff4136;
$fuchsia1: #f012be;
$purple1: #b10dc9;
$maroon1: #85144b;

// Grayscale
$white1: #fff;
$silver1: #ddd;
$gray1: #aaa;
$black1: #111;

// my genuli
$color-myred: #ff4f33;
$color-myred-light: #ff5252;
$color-light-l: #e7ebf0;
$color-burgundy: #682d2d;

// character
$character-light-title-85: #262626;
$character-light-primary-85: #262626;
$character-light-secondary-45: #8c8c8c;
$character-light-disable-25: #bfbfbf;
$character-light-border: #d9d9d9;
$character-light-dividers: #f0f0f0;
$character-light-background: #f5f5f5;
$character-light-table-header: #fafafa;
$character-dark-title-85: #dbdbdb;
$character-dark-primary-85: #dbdbdb;
$character-dark-secondary-45: #7c7c7c;
$character-dark-disable-25: #5a5a5a;
$character-dark-border: #434343;
$character-dark-dividers: #303030;
$character-dark-background: #262626;
$character-dark-table-header: #1c1c1c;
$character-yellow: #fcc521;
$main-background-color: $white1;
$main-text-color: $black1;
$divider-color: rgba($black1, 0.14);

// palitra1
$palitra1-middle: #875224;

// palitra2
// $palitra2-middle: #00d7ff;
// $palitra2-middle: #904022;
// $palitra2-middle: #9d0208;
$palitra2-middle: #1f1f1f;

// $palitra2-middle: #682d2d;
// $palitra2-middle: #1559e4;
// $palitra2-middle: #29b1bb;
// $palitra2-middle: #093726;
// $palitra2-middle: #175800;
// $palitra2-light: #e4a015;
$palitra2-light: #fca70d;
$palitra2-medium: #df9306;
$palitra2-red: #fc570d;

// $palitra2-light: #753a00;

// text sizes
$main-text-size: 14px;
$main-border-radius: 6px;

// font family
$pixel-text: 'zx_spectrum-7_bold';
$pixel-numbers: 'EHS';

// gaps
$gap-5xs: 2px;
$gap-4xs: 4px;
$gap-3-4xs: 5px;
$gap-3xs: 6px;
$gap-2xs: 8px;
$gap-xs: 10px;
$gap-s: 12px;
$gap-m: 14px;
$gap: 16px;
$gap-l: 20px;
$gap-xl: 22px;
$gap-2xl: 24px;
$gap-2xlm: 25px;
$gap-3xl: 26px;
$gap-4xl: 28px;
$gap-5xl: 30px;
$gap-6xl: 32px;
$gap-7xl: 34px;
$gap-8xl: 36px;
$gap-9xl: 38px;
$gap-10xl: 40px;
$gap-11xl: 42px;
$gap-12xl: 44px;
$gap-13xl: 46px;
$gap-14xl: 48px;

// margin
$m-5xs: 2px;
$m-4xs: 4px;
$m-3-4xs: 5px;
$m-3xs: 6px;
$m-2xs: 8px;
$m-xs: 10px;
$m-s: 12px;
$m-m: 14px;
$m: 16px;
$m-l: 20px;
$m-xl: 22px;
$m-2xl: 24px;
$m-2xlm: 25px;
$m-3xl: 26px;
$m-4xl: 28px;
$m-5xl: 30px;
$m-6xl: 32px;
$m-7xl: 34px;
$m-8xl: 36px;
$m-9xl: 38px;
$m-10xl: 40px;
$m-11xl: 42px;
$m-12xl: 44px;
$m-13xl: 46px;
$m-14xl: 48px;

// padding
$p-5xs: 2px;
$p-4xs: 4px;
$p-3-4xs: 5px;
$p-3xs: 6px;
$p-2xs: 8px;
$p-xs: 10px;
$p-s: 12px;
$p-m: 14px;
$p: 16px;
$p-l: 20px;
$p-xl: 22px;
$p-2xl: 24px;
$p-2xlm: 25px;
$p-3xl: 26px;
$p-4xl: 28px;
$p-5xl: 30px;
$p-6xl: 32px;
$p-7xl: 34px;
$p-8xl: 36px;
$p-9xl: 38px;
$p-10xl: 40px;
$p-11xl: 42px;
$p-12xl: 44px;
$p-13xl: 46px;
$p-14xl: 48px;

// border-radius
$br-btn-s: 2px;
$br-btn-m: 5px;

// spaces
$small-space: 16px;
$medium-space: 32px;
$large-space: 64px;

// media query
$phone-size: 600px;
$tablet-size: 992px;
$desktop-size: 1200px;

// box-shadow

$box-shadow-card: 0 6px 15px 1px rgb(0 10 12 / 78%);
