@use '../../styles/main.scss' as *;

.project-card {
  @include flex($direction: column, $align: center);
  position: relative;
  gap: $gap;
  max-width: 315px;
  overflow: hidden;
  color: $character-light-table-header;
  @include for-phone {
    max-width: 270px;
    overflow: visible;
    gap: $gap-4xs;
  }
}

.short-description {
  text-align: center;
}
.img-wrapper {
  position: relative;
}

.img {
  width: 100%;
  border-radius: 6px;

  @include for-phone {
    margin: $m-s 0;
  }
}

.img_4x3 {
  aspect-ratio: 4/3;
  object-fit: cover;
}

.project-card_description {
  position: absolute;
  top: 10%;
  right: -100%;
  width: 90%;
  height: fit-content;
  padding: 10px;
  border-radius: 15px 0 0 15px;
  background: #00000097;
  color: $character-light-table-header;
  transition: all 0.6s ease-in;
}

.img:hover + .project-card_description,
.project-card_description:hover {
  right: 0;
}

.btn_sprints {
  margin: 0 auto;
  margin-top: $m;
}

.btns {
  @include flex;

  gap: $gap;
}
