@use '../../styles/main.scss' as *;

.project-card {
  @include flex($direction: column, $align: center);

  gap: $gap;
  max-width: 315px;
  overflow: hidden;
  color: $character-light-table-header;
  @include for-phone {
    max-width: 270px;
    overflow: visible;
    gap: $gap-4xs;
  }
}

.short-description {
  text-align: center;
}

.img-wrapper {
  position: relative;
}

.img {
  width: 100%;
  border-radius: 6px;

  @include for-phone {
    margin: $m-s 0;
  }
}

.img_4x3 {
  aspect-ratio: 4/3;
  object-fit: cover;
}

.project-card_description {
  position: absolute;
  top: 10%;
  right: -100%;
  width: 90%;
  height: fit-content;
  padding: 10px;
  border-radius: 15px 0 0 15px;
  background: #00000097;
  color: $character-light-table-header;
  transition: all 0.6s ease-in;
}

.img:hover + .project-card_description,
.project-card_description:hover {
  right: 0;
}

@include for-phone {
  .img:hover {
    cursor: pointer;
  }
}

.project-title {
  text-align: center;
  margin-top: $m;
}

.sprint-title {
  text-align: center;
  margin-bottom: $m-m;
  color: $character-dark-border;
  font-size: 0.9em;
  margin-top: $m-xs;
}

.my-swiper {
  width: 100%;
  height: 400px;
}

.slide {
  font-size: 14px;
  text-align: justify;
  max-width: 72vw;
  margin: 0 auto;
}

.slide_img {
  display: block;
  max-width: 72vw;
  margin: 0 auto $m;
}

.my-swiper .bullet-class {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: $character-dark-primary-85;
  margin: $m-2xs 0;
  border-radius: 50%;
}

.my-swiper .bullet-class.bullet-class__active {
  background: $palitra2-light;
}

.my-swiper .bullet-class__active-small {
  background: $palitra2-light !important;
}

.bullet-class-small {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: $character-dark-primary-85;
  margin: 0 $m-4xs;
  border-radius: 50%;
}
