@use './../../styles/main.scss' as *;

.modal {
  @include flex($align: center, $justify: center);

  height: 100%;
  width: 100%;
  background: #00000080;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(0);
  opacity: 0;
  transition: all 2.8s;
  z-index: 2;
}

.modal.active {
  transform: scale(1);
  opacity: 1;
}

.modal_content {
  padding: $p;
  border-radius: 20px;
  width: fit fit-content;
  height: fit-content;
  max-width: 90%;
  max-height: 90%;
  transform: scale(0);
  transition: scale 2.8s;
  overflow: hidden;
}

.modal.active .modal_content {
  background: $character-light-table-header;
  transform: scale(1);
}
