@use '../../styles/main' as *;

.header {
  width: 100%;
  margin: 0 50px;
  min-height: 69px;
  @include flex($direction: row, $justify: flex-end);

  .date {
    justify-self: center !important;
    align-self: center !important;
  }
}
