@use '../../styles/main' as *;

.header {
  width: 100%;
  margin: 0 50px;
  min-height: 69px;
  @include flex($direction: row, $justify: space-between);

  .versions,
  .link {
    color: $character-dark-secondary-45;
    transition: scale 0.5s;
  }
}

@include for-phone {
  .header {
    min-height: 39px;
    margin-bottom: $m-xl;
  }
}
