@use '../../styles/main.scss' as *;

.projects_react {
  @include flex($justify: space-around);
  gap: $gap-14xl;
  max-width: 1600px;
 // overflow: hidden;
  height: 100%;
}

.card {
  //position:relative;
  transform: translateY(110vh);
  opacity: 0;
  transition: all 0.9s ease-in-out;
  //transition: opacity .8s ease-in-out;
}

.card.show {
  margin-top: 12%;
  opacity: 1;
  transform: translateY(0);
}

.card:nth-of-type(even) {
  transform: translateY(-110vh);
}
.card:nth-of-type(even).show {
  margin-top: 0;
  transform: translateY(0);
}
