@use '../../styles/main.scss' as *;

.page-title {
  @include font-page-title;
}

.skills {
  max-width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 20px;
  padding: $p-xl;

  @include for-tablet {
    max-width: 90vw;
  }
  @include for-phone {
    max-width: 95vw;
  }
}
