@use '../../styles/main.scss' as *;

.page-title {
  font-size: 2em;
  font-weight: 600;
  margin-top: $m-xl;
  margin-bottom: $m-xl;
}

.grid {
  grid-template-columns: auto;
}

.skills {
  max-width: 1280px;
}
