@use '../../styles/main' as *;

.date-display {
  @include flex($direction: column, $align: center, $justify: center);
  font-family: $pixel-numbers;
  color: $character-yellow;
}
.day-of-week {
  font-family: $pixel-text;
  font-size: 15px;
}
.time {
  font-size: 30px;
  font-weight: 600;
}
.date {
  font-size: 15px;
  font-weight: 600;
}
